:root {
  --primary-color: red;
  --lighter-red: rgb(255, 77, 77);
  --secondary-color: #333;
  --background-color: #f9f9f9;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background-color);
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}

.animate-on-scroll {
  opacity: 1;
  transform: translateY(50px);
  transition: all 0.6s ease-in-out;
}

.animate-on-scroll.visible {
  opacity: 0;
  transform: translateY(0);
}

/* Nagłówek */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  padding: 15px 5%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;
}

.scroll-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.logo-img {
  width: 50px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.logo span {
  color: red;
}

.logo:hover {
  color: #ff4d4d;
  letter-spacing: 2px;
}

/* Sekcja kontaktowa */
.header-contact {
  font-size: 1rem;
  color: #ccc;
}

.header-contact p {
  margin-bottom: 5px;
}

/* Przycisk kontakt na telefonach */
#menu-toggle {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

/* Sekcja kontaktowa na telefonach */
.header-contact-mobile {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 90%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

/* Widoczność sekcji kontaktowej */
.header-contact-mobile.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  z-index: 99;
}
/* Sekcja hero */
.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(
    to right,
    var(--background-dark),
    var(--primary-color)
  );
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 5%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

/* Hero Title */
.hero-title {
  font-size: clamp(2rem, 5vw, 2rem);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.2;
  padding: 0 10px;
  text-align: center;
}

.hero-title .text-dangerh {
  color: red;
}

.btn-danger {
  background: red;
  font-size: 1.2rem;
  border-radius: 50px;
  font-weight: bold;
}

.btn-danger:hover {
  background: darkred;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 30px;
  color: var(--secondary-color);
  text-align: center;
}

/* Przyciski */
.hero-buttons {
  margin-top: 30px;
}

.hero-buttons .btn {
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  transition: all 0.3s ease-in-out;
  background: var(--primary-color);
  color: var(--text-color);
  box-shadow: 0px 10px 30px rgba(255, 0, 0, 0.4);
}

.hero-buttons .btn:hover {
  background: darkred;
  transform: translateY(-5px);
}

/* Formularz */
.hero-form {
  max-width: 500px;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-form input,
.hero-form button {
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.hero-form .form-btn {
  background: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
}

.hero-form .form-btn:hover {
  background: darkred;
}

.form-control {
  background: #111;
  border: none;
  padding: 15px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
}

/* Statystyki */
.hero-stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.stat {
  text-align: center;
}

.stat h3 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
}

.hero-stats p {
  font-size: 1.2rem;
  color: #aaa;
}
.counter {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  opacity: 1; /* upewnij się, że nie jest ukryty */
}

/* Dynamiczny tekst */
.dynamic-text {
  color: var(--primary-color);
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
  display: inline-block;
  min-width: 160px; /* Stała szerokość, aby uniknąć przeskakiwania */
  text-align: center;
}

/* Separator pionowy */
.separator {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 0 10px;
}

/* Animacja pojawiania się */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Efekt pisania */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Efekt migającego kursora */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Efekt przewijania */
.scroll-down {
  position: absolute;
  margin-top: 20px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: var(--text-color);
  animation: bounce 2s infinite;
}

/* Animacje */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Sekcja About */
.about {
  padding: 100px 20px;
  background: var(--background-dark);
  color: var(--text-color);
  text-align: center;
}

/* Kontener sekcji */
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

/* Nagłówek sekcji */
.about-header {
  max-width: 800px;
  margin-bottom: 40px;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.section-title span {
  color: var(--primary-color);
}

.section-subtitle {
  font-size: 1.4rem;
  color: #bbb;
  line-height: 1.8;
  margin-top: 20px;
}

/* Część główna (obraz + tekst) */
.about-content {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 1000px;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.about-image img:hover {
  transform: scale(1.05);
}

.about-text {
  max-width: 500px;
  text-align: left;
}

.about-heading {
  font-size: 2.2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  border-left: 5px solid var(--primary-color);
  padding-left: 15px;
}

.about-text p {
  font-size: 1.3rem;
  line-height: 1.8;
  color: #ddd;
}

/* Lista korzyści */
.about-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.about-list li {
  font-size: 1.2rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: #ccc;
}

.about-list svg {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-right: 15px;
}

/* Karty wartości firmy */
.about-values {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1000px;
}

.value-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 10px;
  max-width: 320px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.value-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 25px rgba(255, 0, 0, 0.3);
  color: var(--lighter-red);
}

.value-card svg {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.value-card h4 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.value-card p {
  font-size: 1.2rem;
  color: #bbb;
}

/* Call to Action */
.about-cta {
  margin-top: 40px;
}

.about-btn {
  display: inline-block;
  padding: 15px 50px;
  background: var(--primary-color);
  color: var(--text-color);
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1.3rem;
}

.about-btn:hover {
  background: darkred;
  transform: translateY(-5px);
}

/* Sekcja Usługi */
.services {
  background: #000;
  color: #fff;
  padding: 80px 0;
}

.service-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.1);
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.5);
}

.service-icon {
  color: red;
  transition: all 0.3s ease-in-out;
}

.service-card:hover .service-icon {
  color: white;
}

.service-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #fff;
}

.service-text {
  font-size: 1.1rem;
  color: #bbb;
}

/* Sekcja Contact */
.contact {
  padding: 100px 0;
  background: var(--background-dark);
  color: var(--text-color);
  text-align: center;
}

/* Nagłówek sekcji */
.contact-header {
  margin-bottom: 50px;
  text-align: center;
}

/* Treść kontaktowa */
.contact-content {
  display: flex;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

/* Mapa Google */
.contact-map {
  flex: 1;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.contact-map:hover {
  transform: scale(1.02);
}

/* Formularz kontaktowy */
.contact-form {
  flex: 1;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.contact-form:hover {
  box-shadow: 0px 15px 40px rgba(255, 0, 0, 0.3);
}

.form-title {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}

/* Formularz */
.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  outline: none;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px var(--primary-color);
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

/* Przycisk wysyłania */
.contact-btn {
  width: 100%;
  padding: 15px;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 1.3rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background: darkred;
  transform: translateY(-5px);
}

/* Sekcja stopki */
.footer {
  background: var(--background-dark);
  color: var(--text-color);
  padding: 60px 5%;
  font-size: 1.2rem;
  text-align: center;
}

/* Kontener stopki */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
}

/* Nagłówki sekcji */
.footer-about h3,
.footer-links h3,
.footer-contact h3,
.footer-social h3 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
}

/* O nas */
.footer-about p {
  color: #bbb;
  max-width: 300px;
  line-height: 1.8;
}

/* Linki w stopce */
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-links ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.footer-links ul li a i {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.footer-links ul li a:hover {
  color: var(--primary-color);
}

/* Kontakt */
.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-contact ul li i {
  font-size: 1.4rem;
  color: var(--primary-color);
}

/* Sekcja social links */
.footer-social {
  text-align: center;
}

.footer-social h3 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-weight: bold;
}

/* Ikony społecznościowe */
.footer-social .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-social .social-icons a {
  font-size: 2rem;
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-social .social-icons a:hover {
  background: var(--primary-color);
  color: var(--background-dark);
  transform: translateY(-5px);
}

/* Dolna część stopki */
.footer-bottom {
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  font-size: 1rem;
  color: #bbb;
}

@media (max-width: 768px) {
  .header-contact-mobile {
    top: 24%;
  }
}

/* Ukrycie sekcji kontaktowej na telefonach */
@media (max-width: 576px) {
  .header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-img {
    width: 50px;
    margin-bottom: 8px;
  }

  /* Przycisk kontakt na telefonach */
  #menu-toggle {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .header-contact-mobile {
    top: 30%;
  }
}
